<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="onFormSubmit(loginForm)">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" ngModel name="username" class="form-control" />

                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" ngModel name="password" class="form-control" />

                </div>
                <button type="submit" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{invalidCredentialMsg}}</div>
            </form>
        </div>
    </div>
</div>
